/* General */
html {
	height: 100%;
}

body {
	background-color: rgb(40, 40, 40);
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
	height: 100%;
}	

/* Main */
.main {
	width: 100%; height: 100%;
	
}

.intro-text {
	margin-top: 0px;
	padding-top: 10px;
	width: 100%;
	color: transparent;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 0.25px rgba(255,255,255,0.9);
}

/* Logo */
.logo {
	left : 300px;
}


/* Scroll button */
.scroll-button {
    content: '';
    position: absolute;
    bottom: 0; margin-bottom: 5%;
    left: 0; right: 0; margin-left: auto; margin-right: auto;
    width: 40px;
    height: 40px;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Product sesction */
.product {
	background-color: white;
}

.socket {
	width: 20%;
	margin-top: 75px;
	margin-bottom: 75px;
    display: block; margin-left: auto; margin-right: auto;
}

.description {
	margin-top: 1%;
	font-size: 30px;
	color: #00E7A3;
	text-align: center;
}