hover/* General */

html {
    height: 100%;
}

body {
    background-color: white
    font-family: Futura,"Verd",Arial,sans-serif;
    height: 100%;
}   

/* Main */
.main {
    width: 100%; height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

.navbar{
    background-color: white;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
}

.intro-text {
    margin-top: 0px;
    padding-top: 65px;
    width: 100%;
    color: transparent;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 0.25px rgba(255,255,255,0.9);
}

.exceptTeam{
  padding-left: 70px;
  padding-right: 70px;
}

/* Logo */
.logo {
    display: block;
    margin-top: 0px;
    height: 400px;
    margin-left: 375px; margin-right: auto;
}

.logoTL{
  height : 50px;
  padding-left : -100px;
}

.socketVector{
  height :400px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.blog{
  padding-left: 100px;
  padding-right: 100px;
}

.socketI{
    height : 120px;
    position : static;
    padding: 3px 3px 3px 3px;
}

.phone{
    height : 120px;
    position : static;
    padding: 3px 3px 3px 3px;
}

.control{
    height : 120px;
    position : static;
    padding: 3px 3px 3px 3px;
}

.description {
    margin-top: 1%;
    font-size: 30px;
    color: #00E7A3;
    text-align: center;
}

.upper-line{
    width : 80%;
}

.lower-line{
    width : 80%;
}

.col-sm-2{
    background-color: transparent;
    border: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.col-sm-10{
    border: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.container{
    float : center;
    color: black;
}

.page-header{
  padding-top: 40px;
}

.diag{
    padding-top: 0px;
    width: 60%;
}

#menu-outer {
    height: 84px;
    background: url(images/bar-bg.jpg) repeat-x;
}

.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

.venn-text{
  padding-left: 0px;
  text-align : center;
}

.bigDataStuff {
  overflow:  visible;
}

.bigData {
  height : 150px;
}

.blog{
  height: 800px;
  color: #00E7A3;
}

.btn {
  background-color: transparent;;
    border: white;
    color: black;
    padding: 2px 3px 2px 3px;
    text-align: center;
    font-size: 16px;
}

.btn:hover {
        background-color: gray;
        color: #00E7A3;
}

#team div {
    display: inline-block;
}

.pinapple {
  padding-top: 40px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.data-text{
 padding-top: 40px;

}

.networkHead{
  padding-top: 40px;
}

.slogan{
  color : #13ED3B;
  text-align : center;
}

.newSocket{
  height : 50%;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: white;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: white;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.panel {
    background-color: transparent;
  }

.p2{
  padding-top: 60px;
}

.turingname {
   padding-top: 30px;
   width: 30%;
}